%h5
	= "Editing #{@editJobs.designation} Job" 
=form_for :jobs, url:{action: "update"}, html:{class: "form-horizontal"} do |f|
	%div.form-group
		=f.label :designation, 'Designation' , {:class => 'col-lg-2 control-label'}
		%span.error_message
			- if not (@editJobs.errors[:designation].blank?)
				=@editJobs.errors[:designation].second
		%div.col-lg-3
			=f.text_field :designation, {:class => 'form-control', :value => @editJobs.designation}
	%div.form-group
		=f.label :experience, 'Experience', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.select(:experience, ['0-2 Years', '2-3 Years', '5-8 Years', '8 Years Plus'], {}, {:class => 'form-control', :placeholder => ""})
	%div.form-group
		=f.label :gender, 'Gender', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.select(:gender, ['Male', 'Female', 'N/A'], {}, {:class => 'form-control', :placeholder => ""})
	%div.form-group
		=f.label :responsibilites, 'Responsibilities' , {:class => 'col-lg-2 control-label'}
		%span.error_message
			- if not (@editJobs.errors[:responsibilites].blank?)
				=@editJobs.errors[:responsibilites].to_s
		%div.col-lg-3	
			=f.text_area :responsibilites, {:class => 'form-control' , :value => @editJobs.responsibilites}
	%div.form-group
		=f.label :skills, 'Skills', {:class => 'col-lg-2 control-label'}
		%span.error_message
			- if not (@editJobs.errors[:skills].blank?)
				=@editJobs.errors[:skills].to_s
		%div.col-lg-3
			=f.text_field :skills, {:class => 'form-control' , :value => @editJobs.skills}
	%div.form-group
		=f.label :qualification, 'Qualification', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.select(:qualification, ['Graduate 2-3 Years', 'Graduate 4-5 Years', 'Post-Graduate 5+', 'N/A'], {}, {:class => 'form-control', :placeholder => ""})
	%div.form-group
		=f.label :location, 'Location', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :location, {:class => 'form-control', :value => @editJobs.location}
	%div.form-group
		%div.col-lg-offset-2.col-lg-10
			=f.submit :class => 'btn btn-primary'
			= link_to "See All Jobs", jobs_index_path, :class => "btn btn-primary"