%br
%br
%h5.text-center Post New Job
%hr
=form_for :jobs, url:{action: "create"}, html:{class: "form-horizontal"} do |f|
	%div.form-group
		=f.label :designation, 'Designation' , {:class => 'col-lg-2 control-label'}
		%span.error_message
			- if not (@jobs.errors[:designation].blank?)
				=@jobs.errors[:designation].second
		%div.col-lg-3
			=f.text_field :designation, {:class => 'form-control', :placeholder => "Developer"}
	%div.form-group
		=f.label :experience, 'Experience', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.select(:experience, ['0-2 Years', '2-3 Years', '5-8 Years', '8 Years Plus'], {}, {:class => 'form-control', :placeholder => ""})
	%div.form-group
		=f.label :gender, 'Gender', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.select(:gender, ['Male', 'Female', 'N/A'], {}, {:class => 'form-control', :placeholder => ""})
	%div.form-group
		=f.label :responsibilites, 'Responsibilities' , {:class => 'col-lg-2 control-label'}
		%span.error_message
			- if not (@jobs.errors[:responsibilites].blank?)
				=@jobs.errors[:responsibilites].to_s
		%div.col-lg-3	
			=f.text_area :responsibilites, {:class => 'form-control' , :placeholder => "Write Responsibilities"}
	%div.form-group
		=f.label :skills, 'Skills', {:class => 'col-lg-2 control-label'}
		%span.error_message
			- if not (@jobs.errors[:skills].blank?)
				=@jobs.errors[:skills].to_s
		%div.col-lg-3
			=f.text_area :skills, {:class => 'form-control' , :placeholder => "Skills"}
	%div.form-group
		=f.label :qualification, 'Qualification', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.select(:qualification, ['Graduate 2-3 Years', 'Graduate 4-5 Years', 'Post-Graduate 5+', 'N/A'], {}, {:class => 'form-control', :placeholder => ""})
	%div.form-group
		=f.label :location, 'Location', {:class => 'col-lg-2 control-label'}
		%span.error_message
			- if not (@jobs.errors[:location].blank?)
				=@jobs.errors[:location].to_s
		%div.col-lg-3
			=f.text_field :location, {:class => 'form-control', :placeholder => "Lahore, Karachi, Islamabad"}
	%div.form-group
		%div.col-lg-offset-2.col-lg-10
			=f.submit :class => 'btn btn-primary'
			= link_to jobs_index_path do
				= content_tag :button, class: "btn btn-default" do
					="Cancel"