-if @jobs.blank?
	%h5= "No jobs to show"
	%div
		=link_to 'Post new Job', jobs_new_path, :class => "btn btn-primary"
	%br
-else
	%h5.text-center
		= "Showing the list of all jobs in SciTech IT Services"
	%div.text-center
		=link_to "Apply Now", profile_apply_path(@jobs.id), :class => "btn btn-success"
		|
		=link_to 'View All Job', jobs_viewAllJobs_path, :class => "btn btn-primary"
	%br
	%hr
	%div.container.text-center.pull-right
		%div.list-group.col-lg-3
			%a.list-group-item
				%h4.list-group-item-heading
					Designation
				%p.list-group-item-text
					-if(@jobs.designation.blank?)
						="--"
					-else
						=@jobs.designation.capitalize
	%div.container.text-center.pull-right
		%div.list-group.col-lg-3
			%a.list-group-item
				%h4.list-group-item-heading
					Gender
				%p.list-group-item-text
					-if(@jobs.gender.blank?)
						="--"
					-else
						=@jobs.gender.capitalize
	%div.container.text-center.pull-right	
		%div.list-group.col-lg-3
			%a.list-group-item
				%h4.list-group-item-heading
					Experience
				%p.list-group-item-text
					=@jobs.experience	
	%div.container.text-center.pull-right
		%div.list-group.col-lg-3
			%a.list-group-item
				%h4.list-group-item-heading
					Qualification
				%p.list-group-item-text
					-if(@jobs.qualification.blank?)
						="--"
					-else
						=@jobs.qualification.capitalize
	%div.container.text-center.pull-right		
		%div.list-group.col-lg-3
			%a.list-group-item
				%h4.list-group-item-heading
					Locations 
				%p.list-group-item-text
					-if(@jobs.location.blank?)
						="--"
					-else
						=@jobs.location.capitalize
	%div.container.text-center.pull-right
		%div.list-group.col-lg-5
			%a.list-group-item
				%h4.list-group-item-heading
					Responsibilities
				%p.list-group-item-text
					=@jobs.responsibilites
	%div.container.text-center.pull-right
		%div.list-group.col-lg-5
			%a.list-group-item
				%h4.list-group-item-heading
					Skills
				%p.list-group-item-text
					-if(@jobs.skills.blank?)
						="--"
					-else
						=@jobs.skills