-if @jobs.blank?
	%h5.text-center
		= "No jobs to show"
	%div.text-center
		=link_to 'Post new Job', jobs_new_path, :class => "btn btn-primary"
	%br
-else
	%h5.text-center
		= "Showing the list of all jobs in SciTech IT Services"
	%br
	%br
	%div
		%table.table.table-hover.table-condensed.text-center
			%tr
				%th.col-lg-1.text-center
					Designation
				%th.col-lg-1.text-center
					Experience
				%th.col-lg-1.text-center
					Gender
				%th.col-lg-3.text-center
					Responsibilities
				%th.col-lg-2.text-center
					Skills
				%th.col-lg-1.text-center
					Qualfication
				%th.col-lg-1.text-center
					Location
				%th.col-lg-4.text-center 
					Apply
			-@jobs.each do |j|
				%tr
					%td
						= j.designation
					%td
						= j.experience
					%td
						= j.gender
					%td
						= j.responsibilites
					%td
						= j.skills
					%td
						= j.qualification
					%td
						= j.location
					%td
						= link_to profile_apply_path(j.id) do
							= content_tag :button, :class => "btn btn-success" do
								="Apply Now"
						|
						= link_to jobs_show_path(j.id) do
							= content_tag :button, :class => "btn btn-info" do
								="Show Details"