
-if @profile.blank?
	%h3= "No Profile to show"
	%div
		=link_to 'Apply For Job', profile_new_path, :class => "btn btn-primary"
	%br
-else
	%h3.text-center
		= "Showing the list of all appllied jobs in SciTech IT Services"
	%div.text-center
		=link_to 'Apply For Job', profile_new_path, :class => "btn btn-primary"
		|
		=link_to 'Post Jobs', jobs_new_path, :class => "btn btn-primary"
	%br
	%div
		%table.table.table-hover.table-condensed.text-center
			%tr
				%th.col-lg-1.text-center
					Full Name
				%th.col-lg-1.text-center
					Email
				%th.col-lg-1.text-center
					Mobile No
				%th.col-lg-1.text-center
					Phone No
				%th.col-lg-1.text-center
					Experinece
				%th.col-lg-1.text-center
					Qualfication
				%th.col-lg-1.text-center
					Certification
				%th.col-lg-2.text-center 
					Options
			-@profile.each do |j|
				%tr
					%td= j.fullName
					%td= j.email
					%td= j.mobileNo
					%td= j.phoneNo
					%td= j.experience
					%td= j.qualification
					%td= j.certification
					%td
						= link_to profile_show_path(j.id) do
							= content_tag :button, :class => "btn btn-primary" do
								= content_tag :span, class: "glyphicon glyphicon-list" do
									=""
						= link_to profile_edit_path(j.id) do
							= content_tag :button, :class => "btn btn-warning" do
								= content_tag :span, class: "glyphicon glyphicon-pencil" do
									=""
						|
						= link_to profile_destroy_path(j.id), method: :delete, data: { :confirm => 'Are you sure?' } do
							= content_tag :button, :class => "btn btn-danger" do
								= content_tag :span, class: "glyphicon glyphicon-remove" do
									=""