%h5.text-center
	Upload Your CV or Resuma here
%div.container.well
	= form_tag 'create', :multipart => true, class: "form-horizontal" do 
		%div.text-center.container
			%div.input-group
				= file_field_tag 'attachment', :id => "exampleInputFile" 
				%br
				= submit_tag "Upload", :class => "btn btn-primary" 