/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
  *= require twitter/bootstrap
 *= require_tree .
 */

 .field_with_errors
{
}

.field_with_errors input
{
   padding: 2px;
   border-color: red;
   
   
}
.field_with_errors input:focus
{
   padding: 2px;
   outline: 0;
   border-color:red;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  
}

#container
{
   width: 320px;
   margin-top: 0px;
   margin-left: 30px;
   margin-right: auto;
   text-align: center;
}
#body-css
{
   background-color: #FFFFFF;
   background-image: image-url("pattern_bg.gif");
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   margin: 0;
}
/*LOGO*/
#logo
{	
   position: relative;
   top: 80px;
   width: auto;
   height: auto;
   border:#FFFFFF solid 0px;
}
hr
{
   position: relative; 
   top: 85px;
   width: 210px;
   border-top:solid #0babe5 0px;
   border-left:solid #0babe5 0px;
   border-right:solid #0babe5 0px;
   border-bottom:solid #0babe5 1px;
}

