%br
%br
%h5.text-center
	= "Apply For Job #{@jobs.designation}"
%br
-#@profile.errors.full_messages.to_yaml
=form_for :profile, url:{action: "create"}, html:{class: "form-horizontal"} do |f|
	-if @profile.errors.any?
		%div#error_explanations
			%h3
				-@profile.errors.count
				= "Probihited Error"
			%ul
				- @profile.errors.full_messages.each do |p|
					%li
						= p
	%div.form-group
		=f.label :jobDesignation, 'Job Designation' , {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :jobDesignation, {:class => 'form-control', :value => @jobs.designation, readonly: true}
	%div.form-group
		=f.label :fullName, 'Full Name' , {:class => 'col-lg-2 control-label'}
		%span.error-message
			- if not (@profile.errors[:fullName].blank?)
				=@profile.errors[:fullName].to_s
		%div.col-lg-3
			=f.text_field :fullName, {:class => 'form-control', :placeholder => "Your Name"}
	%div.form-group
		=f.label :email_id, 'Email', {:class => 'col-lg-2 control-label'}
		%span.error-message
			- flash[:warning] = "Email Should be present OR You will already applied through this email"
			- if not (@profile.errors[:email_id].blank?)
				=@profile.errors[:email_id].to_s
		%div.col-lg-3
			=f.email_field :email_id, {:class => 'form-control', :placeholder => "someone@example.com"}
	%div.form-group
		=f.label :mobileNo, 'Mobile No' , {:class => 'col-lg-2 control-label'}
		%div.col-lg-3	
			=f.text_field :mobileNo, {:class => 'form-control' , :placeholder => "0312 1212121"}
	%div.form-group
		=f.label :phoneNo, 'Phone No', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :phoneNo, {:class => 'form-control' , :placeholder => "042 12345678"}
	%div.form-group
		=f.label :certification, 'Certification', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :certification, {:class => 'form-control', :placeholder => "MCSC. CSDA, CIMA"}
	%div.form-group
		=f.label :experience, 'Experience', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.select(:experience, ['0-2 Years', '2-3 Years', '5-8 Years', '8 Years Plus'], {}, {:class => 'form-control', :placeholder => ""})
	%div.form-group
		=f.label :qualification, 'Qualification', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.select(:qualification, ['Graduate 2-3 Years', 'Graduate 4-5 Years', 'Post-Graduate 5+', 'Other'], {}, {:class => 'form-control', :placeholder => ""})
	%div.form-group
		%div.col-lg-offset-2.col-lg-10
			=f.submit :class => 'btn btn-primary'
			= link_to profile_index_path do
				= content_tag :button, class: "btn btn-danger" do
					="Cancel"