%h5 
	= "Apply For Job " 
=form_for :profile, url:{action: "create"}, html:{class: "form-horizontal"} do |f|
	%div.form-group
		=f.label :fullName, 'Full Name' , {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :fullName, {:class => 'form-control', :placeholder => "Your Name"}
	%div.form-group
		=f.label :email_id, 'Email', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.email_field :email_id, {:class => 'form-control', :placeholder => "someone@example.com"}
	%div.form-group
		=f.label :mobileNo, 'Mobile No' , {:class => 'col-lg-2 control-label'}
		%div.col-lg-3	
			=f.text_field :mobileNo, {:class => 'form-control' , :placeholder => "0312 1212121"}
	%div.form-group
		=f.label :phoneNo, 'Phone No', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :phoneNo, {:class => 'form-control' , :placeholder => "042 12345678"}
	%div.form-group
		=f.label :experience, 'Experience', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.select(:experience, ['0-2 Years', '2-3 Years', '5-8 Years', '8 Years Plus'], {}, {:class => 'form-control', :placeholder => ""})
	%div.form-group
		=f.label :qualification, 'Qualification', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.select(:qualification, ['Graduate 2-3 Years', 'Graduate 4-5 Years', 'Post-Graduate 5+', 'N/A'], {}, {:class => 'form-control', :placeholder => ""})
	%div.form-group
		=f.label :certification, 'Certification', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.select(:certification, ['MCSC', 'CSDA', 'CIMA' ,'N/A'], {}, {:class => 'form-control', :placeholder => ""})
	%div.form-group
		%div.col-lg-offset-2.col-lg-10
			=f.submit :class => 'btn btn-primary'
			= link_to root_path do
				= content_tag :button, class: "btn btn-default" do
					="Cancel"