-if @profile.blank?
	%h5= "No profile to show"
	%p.text-center
		= "No Job avaiable"
		=link_to 'Go back TO Main Page', root_path, :class => "btn btn-primary"
	%br
-else
	%h5= "Showing the list of all applied pobs in SciTech IT Services"
	%div
		=link_to 'View All Jobs', jobs_viewAllJobs_path, :class => "btn btn-primary"
	%br
	%div
		%table.table.table-hover.table-condensed.text-center
			%tr
				%th.text-center
					Full Name
				%th.text-center
					Email
				%th.text-center
					Mobile No
				%th.text-center
					Phone No
				%th.text-center
					Experinece
				%th.text-center
					Qualfication
				%th.text-center
					Certification
				%tr
					%td= @profile.fullName
					%td= @profile.email_id
					%td= @profile.mobileNo
					%td= @profile.phoneNo
					%td= @profile.experience
					%td= @profile.qualification
					%td= @profile.certification