<!DOCTYPE html>
%html
	%head
		%title SciTech
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
	%body#body-css	
		%div#container.text-center
			%div#logo
				= image_tag "logo1.png"
		%h4.text-center Welcome to SciTech IT Services Carrier Portfolio
		-if(flash[:notice].blank? == false)
			%div.alert.alert-dismissable.alert-warning.text-center
				%button.close{:href => "#", :data => {:dismiss => "alert"}, :aria=> {:hidden => "true"}}
					&times;
				%span
					=flash[:notice]
		-if(flash[:alert].blank? == false)
			%div.alert.alert-dismissable.alert-danger.text-center
				%button.close{:href => "#", :data => {:dismiss => "alert"}, :aria=> {:hidden => "true"}}
					&times;
				%span
					=flash[:alert]
		= yield